.container-player {
    grid-area: footer;
    background: #181818;
    width: 100vw;
    position: fixed;
    height: 12vh;
    margin-top: 88vh;
    border-top: solid 1px #282828;
   padding-right: 30px;
    
   
}
.zevaqueiro{
    width: 50px;
    height: 50px;
    margin-right: 13px;
}
.container-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    
    
    
}
.display-central{
    
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 45%
    
}

.play {
    margin: 0 8px;
    border-radius: 50%;
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: 10px;
    
}


.icone-inferior-esquerdo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
  
    
}
.icone-volume{
    display:flex;
    justify-content: center;
    align-items: center;
}

.volume{
    margin-right: 10px;
    margin-top: 43px;
    height: 15px;
}
.retornobtn,.btnaleatorio{
    height: 20px;
    width: 20px;
    
}
p{
    color: #B3B3B3;
}
.nomeMusica{
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.descricaoArtista{
    font-size: 18px;
    padding-bottom:5px;
    font-family: 'Source Sans Pro', sans-serif;
}
.descicao-artista{
    display: flex;
    flex-direction: column;
}
.player-central{
    display: flex;
    margin-top: 1%;
    position: fixed;
   align-items: center;
   
}
.prev-btn, .next-btn{
    background: #181818;
    outline: none;
     border: none;
     margin: 0 10px;
     margin-bottom: 7px;
    
}
.previous, .next{
    height: 22px;
    width: 22px;
    
}
#range-player[type=range] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 500px;
    height: 8px;
    margin-top: 7px;
    left: 1em;
    border-radius: 5px;
    background-color: white;
    outline: none;
}
.ponto:hover{
    background: rgb(79, 202, 79);
}
#range-player{
     height: 8px;
    width: 0;
    
}
.barra {
    width: 550px;
    height: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #5E5E5E;
}
#inputVolume{
    width: 100px;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #5E5E5E;
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: #5E5E5E;
    margin-top: 43px;
}
.ponto {
    width: 5px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    margin-left: -1px;
    

}
.atualiza-barra, .tempo-musica{
    margin: 0 15px;
}
input[type='range'] {
    cursor: pointer;
  }
  
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 3px;
    background: #5E5E5E;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 5px;
    height: 6px;
    margin-top: -1px;
    background-color: white;
    border-radius: 10px;
  }